@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/space-mono-v17-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/lexend-deca-v25-latin-regular.woff2") format("woff2");
}

:root {
  --clr-primary-300: hsl(39 100% 94%); /* light yellow yellow */
  --clr-primary-400: hsl(40 97% 58%); /* yellow */

  --clr-neutral-100: hsl(0 0% 100%); /* white */
  --clr-neutral-200: hsl(214 37% 96%); /* snow */
  --clr-neutral-300: hsl(212 41% 93%); /* light grey */
  --clr-neutral-400: hsl(217 12% 62%); /* dim grey */
  --clr-neutral-500: hsl(216 17% 35%); /* dark navy */
  --clr-neutral-600: hsl(215 14% 23%);

  --ff-base: "Lexend Deca", sans-serif;
  --ff-accent: "Space Mono", Monospace;

  --fs-400: calc(15 / 16 * 1rem);
  --fs-450: calc(20 / 16 * 1rem);
  --fs-500: calc(24 / 16 * 1rem);
  --fs-550: calc(32 / 16 * 1rem);
  --fs-600: calc(40 / 16 * 1rem);
  --fs-700: calc(48 / 16 * 1rem);
  --fs-800: calc(56 / 16 * 1rem);

  --fs-heading-lg: var(--fs-600); /* 40 */
  --fs-heading-md: var(--fs-550); /* 32 */
  --fs-heading-sm: var(--fs-450); /* 20 */

  --fw-regular: 400;
  --fw-bold: 700;

  @media (width > 45em) {
    --fs-heading-lg: var(--fs-800); /* 56 */
    --fs-heading-md: var(--fs-700); /* 48 */
    --fs-heading-sm: var(--fs-500); /* 24 */
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.7;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* General Styles */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  text-align: center;
  color: var(--clr-neutral-400);

  @media (width > 70em) {
    text-align: left;
  }
}

a {
  font-family: var(--ff-accent);
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--clr-primary-400);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-accent);
  color: var(--clr-neutral-500);
  text-wrap: balance;
}

section img {
  margin-inline: auto;
}

p {
  max-width: 48ch;

  @media (width < 70em) {
    margin-inline: auto;
  }
}

/* typography */

.text-clr-100 {
  color: var(--clr-neutral-100);
}

.fs-heading-sm {
  font-size: var(--fs-heading-sm);
}

.fs-heading-md {
  font-size: var(--fs-heading-md);
}

.fs-heading-lg {
  font-size: var(--fs-heading-lg);
}

.fs-heading-lg,
.fs-heading-md {
  max-width: 20ch;
  margin-inline: auto;

  @media (width > 70em) {
    margin-inline: 0;
  }
}

/* Layout */
.wrapper {
  max-inline-size: 80em;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width > 45em) {
  .wrapper {
    padding-inline: 6rem;
  }
}

.flow-content > * + * {
  margin-block-start: var(--flow-spacer, 1rem);
}

.flow-content--md {
  --flow-spacer: 2.5rem;
}

.flex-flow {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.margin-left-auto {
  margin-inline-start: auto;
}

.margin-inline-center {
  margin-inline: auto;
}

.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-flow--lg {
  --gap: 9rem;
}

@media (width > 70em) {
  .grid-2-col {
    grid-template-columns: 1fr 1fr;
  }

  .grid-3-col {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-order-1 {
    order: 1;
  }
}

.grid-stack {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
}

.grid-stack > * {
  grid-area: stack;
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.bg-500 {
  background: var(--clr-neutral-500);
}

.bg-600 {
  background: var(--clr-neutral-600);
}

.br-circle {
  border-radius: 50%;
}

.padding-lg {
  padding-block: 6rem; /* 96px */
}

.padding-md {
  padding-block: 4.5rem; /* 72px */
}

/* Components */
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--fg, var(--clr-neutral-100));
  background: var(--bg, var(--clr-primary-400));
  padding-inline: 2.5em;
  padding-block: 0.875em;
  border: 3px solid var(--clr-primary-400);
}

.button:hover,
.button:focus-visible {
  --bg: transparent;
}

/* Site Wide Header and Footer Styles */
.header-primary {
  padding-block: 1rem;

  @media (width < 45em) {
    gap: 0;
    padding-block: 1.5rem;
  }
}

.nav-primary {
  flex: 1;

  @media (width < 45em) {
    display: none;
  }
}

.nav-primary__list {
  --flex-gap: 2rem;
  margin-inline-start: clamp(0.5rem, 2vw, 3.75rem);
}

@media (width < 45em) {
  .header-primary .hamburger {
    display: inline-block;
  }

  .header-primary .logo {
    margin-inline: auto;
  }
}

.footer-primary .logo path {
  fill: var(--clr-neutral-100);
}

.footer-primary li:hover path {
  fill: var(--clr-neutral-300);
}

.footer-primary__inner {
  gap: 3.5rem;

  @media (width < 45em) {
    gap: 1rem;
  }
}

@media (width < 45em) {
  .footer-primary__inner,
  .nav-secondary__list {
    flex-direction: column;
  }
}

.footer-primary .social-links {
  margin-inline-start: auto;

  @media (width < 45em) {
    margin-inline-end: auto;
    margin-block-start: 3rem;
  }
}

/* Homepage Block Styles */

.hero__img {
  max-height: 42rem;
  inline-size: 100%;
  object-fit: cover;
}

.hero__content {
  --flow-spacer: 1.5rem;
  width: 100%;
}

.hero__content .button {
  margin-block-start: 2rem;
}

.features__sm {
  --flow-spacer: 1.5rem;
  --gap: 3rem;
}

@media (45em < width < 70em) {
  .features__sm .content {
    display: flex;
    gap: 5rem;
    text-align: left;
    align-items: start;
    max-width: 40rem;
    margin-inline: auto;
  }

  .features__sm .content > * {
    margin-block-start: 0;
  }
}

@media (width > 70em) {
  .features__sm img {
    margin: 0;
  }
}

.features__lg {
  --gap: 7.5rem;
  --flow-spacer: 2rem;
}

.features__lg .feature {
  --gap: 3.5rem;

  @media (width > 70em) {
    --gap: 5rem;
  }
}

@media (width > 70em) {
  .signup__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .signup__inner > * {
    margin: 0;
  }
}
